*{
    margin: 0;
    padding: 0;
}

.video-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 40px;
}
.profile-picture{
    width: 100%;
    border-radius: 50px;
}
.thumbnail{
    width: 100%;
}
.video-title{
    font-size: 18px;
    line-height: 20px;
}
.video-author{
    font-size: 14px;
    margin: 0px 0px 4px 0px;
    color: rgb(93, 93, 93);
}
.video-stats{
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    color: rgb(93, 93, 93);
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}