* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}
/*************** Header start ***************/
.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 60px;
    margin-bottom: 20px;
}

.left-section {
    width: 20%;
    padding-top: 17px;
}

.middle-section {
    width: 50%;
    padding-top: 13px;
}

.right-section {
    width: 20%;
    padding-top: 13px;
}

/*************** Searh Bar ***************/
.searchBar
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBar-border
{
    flex:1;
    height: 38px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px 0 0 30px;
}
#search
{
    font-size:medium;
    height: 100%;
    width: 94%;
    border: 0;
    outline: none;
}
#search-btn
{
    height: 40px;
    width: 10%;
    background-color: rgba(185, 185, 185, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 30px 30px 0;
}
#search-microphone
{
    height: 40px;
    width: 40px;
    background-color: rgba(185, 185, 185, 0.15);
    border: 0;
    border-radius: 30px;
    margin-left: 10px;
}
#search-btn:hover,
#search-microphone:hover
{
    background-color: rgba(185, 185, 185, 0.3);
    cursor: pointer;
}
/*************** Searh Bar end ***************/
/*************** input type search ***************/
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 17px;
    width: 17px;
    background: url("../images/close.png");
    background-size: contain;
    /* box-shadow: inset 1px 2px 1px rgba(0, 0, 0, 0.05); */
}
input[type="search"]::-webkit-search-cancel-button:hover {
    cursor: pointer;
}
/*************** input type search end ***************/
/*************** Sign-in button ***************/
#signin-btn
{
    font-size: 14px;
    height: 34px;
    width: 100px;
    color: rgb(6, 95, 212);
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
#signin-btn:hover
{
    background-color: rgba(6, 95, 212, 0.15);
    border: 0;
    cursor: pointer;
}
/*************** Sign-in button end ***************/
#signin-btn-element
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 0 10px;
}
/*************** Header end ***************/
/*************** Video start ***************/
.video-section
{
    margin: 50px 30px 30px 250px;
}
#video-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 50px;
}
.video-preview:hover
{
    cursor: pointer;
}
.video-preview-info {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 0;
}

.video-stats {
    font-size: 12px;
    color: rgb(93, 93, 93);
    margin: 0;
}

.video-author {
    font-size: 12px;
    color: rgb(93, 93, 93);
    margin: 0px 0px 4px 0px;
}

.thumbnail {
    width: 100%;
    border-radius: 12px;
}

.profile-picture {
    width: 80%;
    border-radius: 50px;
}

.thumbnail-row {
    margin-bottom: 12px;
}

/*************** Video end ***************/
/*************** Media Queries start ***************/

@media screen and (min-width: 750px) and (max-width:999px) {
    .video-section 
    {
        margin: 50px 50px;
    }
    #video-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .channel-picture{
        margin-left: 6px;
    }
    .video-info{
        margin-left: 6px;
    }      
}
@media screen and (min-width: 600px) and (max-width:749px) {
    .video-section {
        margin: 50px 50px;
        }
    #video-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .channel-picture {
        margin-left: 6px;
    }

    .video-info {
        margin-left: 6px;
    }
}
@media screen and (min-width: 10px) and (max-width:599px) {
    /* body{
         overflow-x: hidden;
    } */
    .header{
        width: 94%;
        justify-content:space-around;
    }
    .video-section {
            margin: 50px 80px;
        }
    #video-grid{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 0;
    }
    .channel-picture{
        margin-left: 6px;
    }
    .video-info{
        margin-left: 6px;
    }
}
/*************** Media Queries end ***************/