* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}
/*************** Header start ***************/
.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 60px;
    margin-bottom: 20px;
}

.left-section {
    width: 20%;
    padding-top: 17px;
}

.middle-section {
    flex: 1;
    padding-top: 13px;
}

.right-section {
    width: 20%;
    padding-top: 13px;
}

#signin-btn
{
    font-size: 14px;
    height: 34px;
    width: 100px;
    color: rgb(6, 95, 212);
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
#signin-btn:hover
{
    background-color: rgba(6, 95, 212, 0.15);
    border: 0;
    cursor: pointer;
}
#signin-btn-element
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 0 10px;
}
/*************** Header end ***************/
/*************** Video start ***************/

.video-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 0;
}

.video-stats {
    font-size: 12px;
    color: rgb(93, 93, 93);
    margin: 0px 0px 0px 0px;
}

.video-author {
    font-size: 12px;
    color: rgb(93, 93, 93);
    margin: 0px 0px 4px 0px;
}

.thumbnail {
    width: 100%;
}

.profile-picture {
    width: 100%;
    border-radius: 50px;
}

.thumbnail-row {
    margin-bottom: 12px;
}

#video-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 40px;
}

.video-preview-info {
    display: grid;
    grid-template-columns: 50px 1fr;
}
/*************** Video end ***************/
/*************** Media Queries start ***************/

@media screen and (min-width: 750px) and (max-width:999px) {
    #video-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .channel-picture{
        margin-left: 6px;
    }
    .video-info{
        margin-left: 6px;
    }      
}
@media screen and (min-width: 600px) and (max-width:749px) {
    #video-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .channel-picture {
        margin-left: 6px;
    }

    .video-info {
        margin-left: 6px;
    }
}
@media screen and (min-width: 10px) and (max-width:599px) {
    #video-grid{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 0;
    }
    .channel-picture{
        margin-left: 6px;
    }
    .video-info{
        margin-left: 6px;
    }
}
/*************** Media Queries end ***************/